.DS_Store
.clang_complete
spglib/
tmp/
bin/
lib/
docs/
cuau/
remc/
remc-gs/
Testing/
2dising/*out*
2dising/clusters.in
2dising/poscar.latest

tags

# cmake artifacts
MakeFile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
